In [1]:
import numpy as np
import pandas as pd
df=pd.read_csv("/Users/sibu/Desktop/media prediction and its cost.csv")
df

,food_category,food_department,food_family,store_sales(in millions),store_cost(in millions),unit_sales(in millions),promotion_name,sales_country,marital_status,gender,...,grocery_sqft,frozen_sqft,meat_sqft,coffee_bar,video_store,salad_bar,prepared_food,florist,media_type,cost
0,Breakfast Foods,Frozen Foods,Food,7.36,2.7232,4.0,Bag Stuffers,USA,M,F,...,18670.0,5415.0,3610.0,1.0,1.0,1.0,1.0,1.0,"Daily Paper, Radio",126.62
1,Breakfast Foods,Frozen Foods,Food,5.52,2.5944,3.0,Cash Register Lottery,USA,M,M,...,18670.0,5415.0,3610.0,1.0,1.0,1.0,1.0,1.0,"Daily Paper, Radio",59.86
2,Breakfast Foods,Frozen Foods,Food,3.68,1.3616,2.0,High Roller Savings,USA,S,F,...,18670.0,5415.0,3610.0,1.0,1.0,1.0,1.0,1.0,"Daily Paper, Radio",84.16
3,Breakfast Foods,Frozen Foods,Food,3.68,1.1776,2.0,Cash Register Lottery,USA,M,F,...,18670.0,5415.0,3610.0,1.0,1.0,1.0,1.0,1.0,In-Store Coupon,95.78
4,Breakfast Foods,Frozen Foods,Food,4.08,1.4280,3.0,Double Down Sale,USA,M,M,...,18670.0,5415.0,3610.0,1.0,1.0,1.0,1.0,1.0,Radio,50.79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60423,Specialty,Carousel,Non-Consumable,2.76,1.3248,1.0,You Save Days,USA,M,F,...,15321.0,4294.0,2863.0,1.0,0.0,0.0,0.0,0.0,In-Store Coupon,95.25
60424,Specialty,Carousel,Non-Consumable,1.60,0.4960,1.0,Price Cutters,USA,S,F,...,15321.0,4294.0,2863.0,1.0,0.0,0.0,0.0,0.0,Sunday Paper,69.42
60425,Specialty,Carousel,Non-Consumable,5.52,2.5392,2.0,Weekend Markdown,USA,M,M,...,15321.0,4294.0,2863.0,1.0,0.0,0.0,0.0,0.0,"Sunday Paper, Radio, TV",67.51
60426,Specialty,Carousel,Non-Consumable,8.28,2.5668,3.0,Sales Days,Canada,S,M,...,27463.0,4193.0,2795.0,1.0,0.0,0.0,0.0,1.0,Sunday Paper,132.88
60427,Specialty,Carousel,Non-Consumable,9.20,4.2320,4.0,Super Duper Savers,Canada,S,F,...,27463.0,4193.0,2795.0,1.0,0.0,0.0,0.0,1.0,"Daily Paper, Radio",87.76

In [2]:
df.head()

,food_category,food_department,food_family,store_sales(in millions),store_cost(in millions),unit_sales(in millions),promotion_name,sales_country,marital_status,gender,...,grocery_sqft,frozen_sqft,meat_sqft,coffee_bar,video_store,salad_bar,prepared_food,florist,media_type,cost
0,Breakfast Foods,Frozen Foods,Food,7.36,2.7232,4.0,Bag Stuffers,USA,M,F,...,18670.0,5415.0,3610.0,1.0,1.0,1.0,1.0,1.0,"Daily Paper, Radio",126.62
1,Breakfast Foods,Frozen Foods,Food,5.52,2.5944,3.0,Cash Register Lottery,USA,M,M,...,18670.0,5415.0,3610.0,1.0,1.0,1.0,1.0,1.0,"Daily Paper, Radio",59.86
2,Breakfast Foods,Frozen Foods,Food,3.68,1.3616,2.0,High Roller Savings,USA,S,F,...,18670.0,5415.0,3610.0,1.0,1.0,1.0,1.0,1.0,"Daily Paper, Radio",84.16
3,Breakfast Foods,Frozen Foods,Food,3.68,1.1776,2.0,Cash Register Lottery,USA,M,F,...,18670.0,5415.0,3610.0,1.0,1.0,1.0,1.0,1.0,In-Store Coupon,95.78
4,Breakfast Foods,Frozen Foods,Food,4.08,1.4280,3.0,Double Down Sale,USA,M,M,...,18670.0,5415.0,3610.0,1.0,1.0,1.0,1.0,1.0,Radio,50.79

In [3]:
df.shape

(60428, 40)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60428 entries, 0 to 60427
Data columns (total 40 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   food_category               60428 non-null  object
 1   food_department             60428 non-null  object
 2   food_family                 60428 non-null  object
 3   store_sales(in millions)    60428 non-null  float64
 4   store_cost(in millions)     60428 non-null  float64
 5   unit_sales(in millions)     60428 non-null  float64
 6   promotion_name              60428 non-null  object
 7   sales_country               60428 non-null  object
 8   marital_status              60428 non-null  object
 9   gender                      60428 non-null  object
 10  total_children              60428 non-null  float64
 11  education                   60428 non-null  object
 12  member_card                 60428 non-null  object
 13  occupation                  60428 non-null  object
 14  houseowner                  60428 non-null  object
 15  avg_cars_at home(approx)    60428 non-null  float64
 16  avg. yearly_income          60428 non-null  object
 17  num_children_at_home        60428 non-null  float64
 18  avg_cars_at home(approx).1  60428 non-null  float64
 19  brand_name                  60428 non-null  object
 20  SRP                         60428 non-null  float64
 21  gross_weight                60428 non-null  float64
 22  net_weight                  60428 non-null  float64
 23  recyclable_package          60428 non-null  float64
 24  low_fat                     60428 non-null  float64
 25  units_per_case              60428 non-null  float64
 26  store_type                  60428 non-null  object
 27  store_city                  60428 non-null  object
 28  store_state                 60428 non-null  object
 29  store_sqft                  60428 non-null  float64
 30  grocery_sqft                60428 non-null  float64
 31  frozen_sqft                 60428 non-null  float64
 32  meat_sqft                   60428 non-null  float64
 33  coffee_bar                  60428 non-null  float64
 34  video_store                 60428 non-null  float64
 35  salad_bar                   60428 non-null  float64
 36  prepared_food               60428 non-null  float64
 37  florist                     60428 non-null  float64
 38  media_type                  60428 non-null  object
 39  cost                        60428 non-null  float64
dtypes: float64(23), object(17)
memory usage: 18.4+ MB

In [5]:
df.columns

Index(['food_category', 'food_department', 'food_family',
       'store_sales(in millions)', 'store_cost(in millions)',
       'unit_sales(in millions)', 'promotion_name', 'sales_country',
       'marital_status', 'gender', 'total_children', 'education',
       'member_card', 'occupation', 'houseowner', 'avg_cars_at home(approx)',
       'avg. yearly_income', 'num_children_at_home',
       'avg_cars_at home(approx).1', 'brand_name', 'SRP', 'gross_weight',
       'net_weight', 'recyclable_package', 'low_fat', 'units_per_case',
       'store_type', 'store_city', 'store_state', 'store_sqft', 'grocery_sqft',
       'frozen_sqft', 'meat_sqft', 'coffee_bar', 'video_store', 'salad_bar',
       'prepared_food', 'florist', 'media_type', 'cost'],
      dtype='object')

In [6]:
df.isna().sum()

food_category                 0
food_department               0
food_family                   0
store_sales(in millions)      0
store_cost(in millions)       0
unit_sales(in millions)       0
promotion_name                0
sales_country                 0
marital_status                0
gender                        0
total_children                0
education                     0
member_card                   0
occupation                    0
houseowner                    0
avg_cars_at home(approx)      0
avg. yearly_income            0
num_children_at_home          0
avg_cars_at home(approx).1    0
brand_name                    0
SRP                           0
gross_weight                  0
net_weight                    0
recyclable_package            0
low_fat                       0
units_per_case                0
store_type                    0
store_city                    0
store_state                   0
store_sqft                    0
grocery_sqft                  0
frozen_sqft                   0
meat_sqft                     0
coffee_bar                    0
video_store                   0
salad_bar                     0
prepared_food                 0
florist                       0
media_type                    0
cost                          0
dtype: int64

In [7]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [8]:
col_list = list (df.columns) #coverting column in list
for col_name in col_list:  # loop searcing in list
    if df[col_name].dtypes== 'object':  #wherever we find obeject data
        df[col_name]=le.fit_transform(df[col_name])  #apply the label encoding

In [9]:
X=df.drop(['cost'],axis=1)
y=df['cost']
X

,food_category,food_department,food_family,store_sales(in millions),store_cost(in millions),unit_sales(in millions),promotion_name,sales_country,marital_status,gender,...,store_sqft,grocery_sqft,frozen_sqft,meat_sqft,coffee_bar,video_store,salad_bar,prepared_food,florist,media_type
0,4,12,1,7.36,2.7232,4.0,0,2,0,0,...,27694.0,18670.0,5415.0,3610.0,1.0,1.0,1.0,1.0,1.0,3
1,4,12,1,5.52,2.5944,3.0,6,2,0,1,...,27694.0,18670.0,5415.0,3610.0,1.0,1.0,1.0,1.0,1.0,3
2,4,12,1,3.68,1.3616,2.0,18,2,1,0,...,27694.0,18670.0,5415.0,3610.0,1.0,1.0,1.0,1.0,1.0,3
3,4,12,1,3.68,1.1776,2.0,6,2,0,0,...,27694.0,18670.0,5415.0,3610.0,1.0,1.0,1.0,1.0,1.0,5
4,4,12,1,4.08,1.4280,3.0,11,2,0,1,...,27694.0,18670.0,5415.0,3610.0,1.0,1.0,1.0,1.0,1.0,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60423,42,7,2,2.76,1.3248,1.0,48,2,0,0,...,22478.0,15321.0,4294.0,2863.0,1.0,0.0,0.0,0.0,0.0,5
60424,42,7,2,1.60,0.4960,1.0,24,2,1,0,...,22478.0,15321.0,4294.0,2863.0,1.0,0.0,0.0,0.0,0.0,9
60425,42,7,2,5.52,2.5392,2.0,47,2,0,1,...,22478.0,15321.0,4294.0,2863.0,1.0,0.0,0.0,0.0,0.0,11
60426,42,7,2,8.28,2.5668,3.0,31,0,1,1,...,34452.0,27463.0,4193.0,2795.0,1.0,0.0,0.0,0.0,1.0,9
60427,42,7,2,9.20,4.2320,4.0,38,0,1,0,...,34452.0,27463.0,4193.0,2795.0,1.0,0.0,0.0,0.0,1.0,3

In [10]:
y

0        126.62
1         59.86
2         84.16
3         95.78
4         50.79
          ...
60423     95.25
60424     69.42
60425     67.51
60426    132.88
60427     87.76
Name: cost, Length: 60428, dtype: float64

In [11]:
from sklearn.ensemble import RandomForestRegressor

In [12]:
from sklearn.feature_selection import RFE

In [13]:
from sklearn.model_selection import train_test_split,StratifiedKFold

In [14]:
rfe=RFE(RandomForestRegressor(),n_features_to_select=10)

In [15]:
rfe.fit(X,y)

RFE(estimator=RandomForestRegressor(), n_features_to_select=10)

In [16]:
rfe.ranking_

array([16, 22, 29, 23,  7, 19,  1,  1, 27, 21, 10, 15, 17, 11, 24, 18,  9,
       25, 12, 14, 13,  8, 26, 30, 28, 20,  1,  1,  1,  1,  1,  1,  1,  4,
        2,  6,  5,  3,  1])

In [17]:
rfe.get_support()

array([False, False, False, False, False, False,  True,  True, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False,  True,
        True,  True,  True,  True,  True,  True, False, False, False,
       False, False,  True])

In [19]:
feature_selected=X.columns[rfe.get_support()]
feature_selected

Index(['promotion_name', 'sales_country', 'store_type', 'store_city',
       'store_state', 'store_sqft', 'grocery_sqft', 'frozen_sqft', 'meat_sqft',
       'media_type'],
      dtype='object')

In [22]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=1)

X_train=rfe.transform(X_train)
X_test=rfe.transform(X_test)

In [23]:
model=RandomForestRegressor()

In [24]:
model.fit(X_train,y_train)

RandomForestRegressor()

In [25]:
pred=model.predict(X_test)

In [26]:
from sklearn.metrics import r2_score

In [27]:
r2_score(y_test,pred)

0.9985462664066902

ModuleNotFoundError: No module named 'median'