In [1]:
import pandas as pd

In [3]:
media=pd.read_csv('/content/media prediction and its cost.csv')

In [4]:
media.shape

(19207, 40)

In [5]:
media

,food_category,food_department,food_family,store_sales(in millions),store_cost(in millions),unit_sales(in millions),promotion_name,sales_country,marital_status,gender,...,grocery_sqft,frozen_sqft,meat_sqft,coffee_bar,video_store,salad_bar,prepared_food,florist,media_type,cost
0,Breakfast Foods,Frozen Foods,Food,7.36,2.7232,4.0,Bag Stuffers,USA,M,F,...,18670.0,5415.0,3610.0,1.0,1.0,1.0,1.0,1.0,"Daily Paper, Radio",126.62
1,Breakfast Foods,Frozen Foods,Food,5.52,2.5944,3.0,Cash Register Lottery,USA,M,M,...,18670.0,5415.0,3610.0,1.0,1.0,1.0,1.0,1.0,"Daily Paper, Radio",59.86
2,Breakfast Foods,Frozen Foods,Food,3.68,1.3616,2.0,High Roller Savings,USA,S,F,...,18670.0,5415.0,3610.0,1.0,1.0,1.0,1.0,1.0,"Daily Paper, Radio",84.16
3,Breakfast Foods,Frozen Foods,Food,3.68,1.1776,2.0,Cash Register Lottery,USA,M,F,...,18670.0,5415.0,3610.0,1.0,1.0,1.0,1.0,1.0,In-Store Coupon,95.78
4,Breakfast Foods,Frozen Foods,Food,4.08,1.4280,3.0,Double Down Sale,USA,M,M,...,18670.0,5415.0,3610.0,1.0,1.0,1.0,1.0,1.0,Radio,50.79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19202,Snack Foods,Snack Foods,Food,5.94,2.5542,3.0,Mystery Sale,Mexico,S,M,...,17475.0,3671.0,2447.0,0.0,0.0,0.0,0.0,0.0,"Sunday Paper, Radio",137.47
19203,Snack Foods,Snack Foods,Food,3.30,1.0560,2.0,Price Winners,Mexico,M,F,...,17475.0,3671.0,2447.0,0.0,0.0,0.0,0.0,0.0,Cash Register Handout,103.90
19204,Snack Foods,Snack Foods,Food,7.08,2.6904,3.0,Two Day Sale,Mexico,S,F,...,17475.0,3671.0,2447.0,0.0,0.0,0.0,0.0,0.0,Radio,73.27
19205,Snack Foods,Snack Foods,Food,3.72,1.7484,4.0,Save-It Sale,Mexico,S,M,...,17475.0,3671.0,2447.0,0.0,0.0,0.0,0.0,0.0,In-Store Coupon,67.63
19206,Snack Foods,Snack Foods,Food,9.64,2.9884,4.0,Two Day Sale,Mexico,M,M,...,17475.0,3671.0,2447.0,0.0,0.0,0.0,0.0,0.0,Radio,73.27

In [6]:
media.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19207 entries, 0 to 19206
Data columns (total 40 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   food_category               19207 non-null  object
 1   food_department             19207 non-null  object
 2   food_family                 19207 non-null  object
 3   store_sales(in millions)    19207 non-null  float64
 4   store_cost(in millions)     19207 non-null  float64
 5   unit_sales(in millions)     19207 non-null  float64
 6   promotion_name              19207 non-null  object
 7   sales_country               19207 non-null  object
 8   marital_status              19207 non-null  object
 9   gender                      19207 non-null  object
 10  total_children              19207 non-null  float64
 11  education                   19207 non-null  object
 12  member_card                 19207 non-null  object
 13  occupation                  19207 non-null  object
 14  houseowner                  19207 non-null  object
 15  avg_cars_at home(approx)    19207 non-null  float64
 16  avg. yearly_income          19207 non-null  object
 17  num_children_at_home        19207 non-null  float64
 18  avg_cars_at home(approx).1  19207 non-null  float64
 19  brand_name                  19207 non-null  object
 20  SRP                         19207 non-null  float64
 21  gross_weight                19207 non-null  float64
 22  net_weight                  19207 non-null  float64
 23  recyclable_package          19207 non-null  float64
 24  low_fat                     19207 non-null  float64
 25  units_per_case              19207 non-null  float64
 26  store_type                  19207 non-null  object
 27  store_city                  19207 non-null  object
 28  store_state                 19207 non-null  object
 29  store_sqft                  19207 non-null  float64
 30  grocery_sqft                19207 non-null  float64
 31  frozen_sqft                 19207 non-null  float64
 32  meat_sqft                   19207 non-null  float64
 33  coffee_bar                  19207 non-null  float64
 34  video_store                 19207 non-null  float64
 35  salad_bar                   19207 non-null  float64
 36  prepared_food               19207 non-null  float64
 37  florist                     19207 non-null  float64
 38  media_type                  19207 non-null  object
 39  cost                        19207 non-null  float64
dtypes: float64(23), object(17)
memory usage: 5.9+ MB

In [7]:
media.columns

Index(['food_category', 'food_department', 'food_family',
       'store_sales(in millions)', 'store_cost(in millions)',
       'unit_sales(in millions)', 'promotion_name', 'sales_country',
       'marital_status', 'gender', 'total_children', 'education',
       'member_card', 'occupation', 'houseowner', 'avg_cars_at home(approx)',
       'avg. yearly_income', 'num_children_at_home',
       'avg_cars_at home(approx).1', 'brand_name', 'SRP', 'gross_weight',
       'net_weight', 'recyclable_package', 'low_fat', 'units_per_case',
       'store_type', 'store_city', 'store_state', 'store_sqft', 'grocery_sqft',
       'frozen_sqft', 'meat_sqft', 'coffee_bar', 'video_store', 'salad_bar',
       'prepared_food', 'florist', 'media_type', 'cost'],
      dtype='object')

In [8]:
media.isna().sum()

food_category                 0
food_department               0
food_family                   0
store_sales(in millions)      0
store_cost(in millions)       0
unit_sales(in millions)       0
promotion_name                0
sales_country                 0
marital_status                0
gender                        0
total_children                0
education                     0
member_card                   0
occupation                    0
houseowner                    0
avg_cars_at home(approx)      0
avg. yearly_income            0
num_children_at_home          0
avg_cars_at home(approx).1    0
brand_name                    0
SRP                           0
gross_weight                  0
net_weight                    0
recyclable_package            0
low_fat                       0
units_per_case                0
store_type                    0
store_city                    0
store_state                   0
store_sqft                    0
grocery_sqft                  0
frozen_sqft                   0
meat_sqft                     0
coffee_bar                    0
video_store                   0
salad_bar                     0
prepared_food                 0
florist                       0
media_type                    0
cost                          0
dtype: int64

In [9]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [10]:
col_list = list (media.columns) #coverting column in list
for col_name in col_list:  # loop searcing in list
    if media[col_name].dtypes== 'object':  #wherever we find obeject data
        media[col_name]=le.fit_transform(media[col_name])  #apply the label encoding

In [11]:
X=media.drop(['cost'],axis=1)
y=media['cost']

In [12]:
X

,food_category,food_department,food_family,store_sales(in millions),store_cost(in millions),unit_sales(in millions),promotion_name,sales_country,marital_status,gender,...,store_sqft,grocery_sqft,frozen_sqft,meat_sqft,coffee_bar,video_store,salad_bar,prepared_food,florist,media_type
0,2,5,1,7.36,2.7232,4.0,0,2,0,0,...,27694.0,18670.0,5415.0,3610.0,1.0,1.0,1.0,1.0,1.0,3
1,2,5,1,5.52,2.5944,3.0,6,2,0,1,...,27694.0,18670.0,5415.0,3610.0,1.0,1.0,1.0,1.0,1.0,3
2,2,5,1,3.68,1.3616,2.0,18,2,1,0,...,27694.0,18670.0,5415.0,3610.0,1.0,1.0,1.0,1.0,1.0,3
3,2,5,1,3.68,1.1776,2.0,6,2,0,0,...,27694.0,18670.0,5415.0,3610.0,1.0,1.0,1.0,1.0,1.0,5
4,2,5,1,4.08,1.4280,3.0,11,2,0,1,...,27694.0,18670.0,5415.0,3610.0,1.0,1.0,1.0,1.0,1.0,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19202,14,11,1,5.94,2.5542,3.0,21,1,1,1,...,23593.0,17475.0,3671.0,2447.0,0.0,0.0,0.0,0.0,0.0,10
19203,14,11,1,3.30,1.0560,2.0,29,1,0,0,...,23593.0,17475.0,3671.0,2447.0,0.0,0.0,0.0,0.0,0.0,1
19204,14,11,1,7.08,2.6904,3.0,43,1,1,0,...,23593.0,17475.0,3671.0,2447.0,0.0,0.0,0.0,0.0,0.0,7
19205,14,11,1,3.72,1.7484,4.0,33,1,1,1,...,23593.0,17475.0,3671.0,2447.0,0.0,0.0,0.0,0.0,0.0,5
19206,14,11,1,9.64,2.9884,4.0,43,1,0,1,...,23593.0,17475.0,3671.0,2447.0,0.0,0.0,0.0,0.0,0.0,7

In [13]:
y

0        126.62
1         59.86
2         84.16
3         95.78
4         50.79
          ...
19202    137.47
19203    103.90
19204     73.27
19205     67.63
19206     73.27
Name: cost, Length: 19207, dtype: float64

In [14]:
#Recursive feature selection
from sklearn.ensemble import RandomForestRegressor

In [15]:
from sklearn.feature_selection import RFE

In [16]:
from sklearn.model_selection import train_test_split,StratifiedKFold

In [1]:
rfe=RFE(RandomForestRegressor(),n_features_to_select=10)

NameError: name 'RFE' is not defined

In [22]:
rfe.fit(X,y)

RFE(estimator=RandomForestRegressor(), n_features_to_select=10)

In [23]:
rfe.ranking_

array([21, 19, 30,  7, 13, 10,  1,  2, 29, 22, 11, 23, 20,  9, 26, 17, 15,
       25, 24, 14, 16, 18,  8, 28, 27, 12,  1,  1,  1,  1,  1,  1,  1,  3,
        1,  4,  6,  5,  1])

In [24]:
rfe.get_support()

array([False, False, False, False, False, False,  True, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False,  True,
        True,  True,  True,  True,  True,  True, False,  True, False,
       False, False,  True])

In [25]:
feature_selected=X.columns[rfe.get_support()]
feature_selected

Index(['promotion_name', 'store_type', 'store_city', 'store_state',
       'store_sqft', 'grocery_sqft', 'frozen_sqft', 'meat_sqft', 'video_store',
       'media_type'],
      dtype='object')

In [26]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=1)

In [27]:
X_train=rfe.transform(X_train)
X_test=rfe.transform(X_test)

In [28]:
model=RandomForestRegressor()

In [29]:
model.fit(X_train,y_train)

RandomForestRegressor()

In [37]:
pred=model.predict(X_test)

In [38]:
from sklearn.metrics import r2_score

In [39]:
r2_score(y_test,pred)

0.9967684647960976